@charset "UTF-8";
/* beautiful evening beach (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #074167;
	text-align: center;
	letter-spacing: 1px;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 16px;
	color: white;
}



/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #387EAF;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

#chevron {
	padding: 0 0 1vh;
	transform: scale(2, 1);
	font-size: 1.2em;
}

#task {
	position: absolute;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	background-color: #59BED0;
	color: black;
}

#task-details {
	padding: 0.5vh 10vw;
}

#task-head {
	text-decoration: underline;
}



/* MAIN */
input {
	display: block;
	margin: 0 auto 3vh;
}

main {
	padding-top: 10vh;
}

.display {
	font-size: 1.2em;
}

.form-input {
	border: none;
	border-bottom: 1px white solid;
	background-color: transparent;
	text-align: center;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 1em;
	color: white;
}

.form-input:focus {
	border-bottom-color: #FDFA87;
	font-weight: bold;
}

.form-input::placeholder {
	opacity: 0.6;
	color: white;
}

#form-submit {
	margin-bottom: 5vh;
	border: 2px white solid;
	border-radius: 6px;
	padding: 1vh 4vw;
	background-color: #FB9832;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: 1.2em;
}

#form-submit:active {
	background-color: #FDFA87;
	font-weight: bold;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 2vh 0;
	background-color: #387EAF;
}

.more-link {
	color: black;
}

.more-link:active {
	color: red !important;
}

.more-link:hover {
	color: lightgreen;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.2em;
}